.card {
	// background: #aaa;
	padding: 1rem;
	&:hover {
		box-shadow: 0px 4px 35px 0px #a8acb030;
	}
	img {
		width: 100%;
		aspect-ratio: 1;
		object-fit: cover;
	}
	&:hover .addToCart {
		display: block;
	}
}

.imgContainer {
	position: relative;
}
.outOfStock {
	position: absolute;
	inset: 0;
	background: #ffffff88;
	color: #8d8f9a;
	display: grid;
	place-items: center;
	font-size: 24px;
	font-weight: 400;
	font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.body {
	position: relative;
	padding-top: 24px;
	h3 {
		font-family: "Raleway";
		font-style: normal;
		font-weight: 300;
		font-size: 18px;
		line-height: 160%;
	}
	h2 {
		font-family: "Raleway";
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 160%;
	}
}
.addToCart {
	display: none;
	position: absolute;
	right: 10px;
	top: 0;
	// fill: white;
	color: white;
	background: #5ece7b;
	border-radius: 50%;
	padding: 8px;
	transform: translateY(-50%);
	&:hover {
		background: #489e5f;
	}
}
.cart {
	font-size: 1.4rem;
}
